[Unit]
Description=Jenkins slave connector
After=network.target

[Service]
Type=simple
User=root
ExecStart=/tmp/jenkins-slave.sh start
Restart=always


[Install]
WantedBy=multi-user.target
