[Unit]
Description=Jenkins slave connector
After=network.target

[Service]
Type=simple
ExecStart=/root/jenkins-slave.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
